.emptytext {
  color: rgb(194, 190, 190);
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  letter-spacing: -0.2rem;
}

.emptytext h3 {
  letter-spacing: 0rem;
  font-size: $m-size;
  // color: #66BB6A;
  @media (max-width: $desktop-breakpoint) {
    font-size: $s-size;
  }
}

.emptytext h1 {
  @media (max-width: $desktop-breakpoint) {
    font-size: $l-size/1.2;
  }
}

.emptymailicon {
  margin-top:20px;
  font-size: 9rem;
  @media (max-width: $desktop-breakpoint) {
    font-size: 5rem;
  }
}

.chart {
  margin-top: 0px !important;
}

.title {
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: $l-size/1.1;
  @media (max-width: $desktop-breakpoint) {
    font-size: $l-size/1.5;
  }
}

.subject {
  margin-bottom: 30px;
  font-size: $l-size/1.5;
  @media (max-width: $desktop-breakpoint) {
    font-size: $m-size/1.2;
  }
}

.body {
  font-family: "Raleway", Arial, sans-serif;
  letter-spacing: -1px;
  font-size: $m-size/1.2;
  @media (max-width: $desktop-breakpoint) {
    font-size: $s-size/1.2;
  }
}

.dates {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.sentondate {
  margin-top: 10px !important;
  font-style: italic;
  font-size: $s-size;
  @media (max-width: $desktop-breakpoint) {
    font-size: $s-size/1.2;
  }
}

.dashboard {
  font-family: "Raleway", Arial, sans-serif;
}

.deleteicon {
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.deleteicon:hover {
  cursor:pointer;
}

.onelineflex {
  display:flex;
  flex-direction: row;
  justify-content: space-between
}

.fixedbuttons {
  @extend .onelineflex;
}

.disccolor {
  background-color:#BB4F4D !important;
}

.featuredisc {
  margin: 10px 0 0 20px;
}

.tap-target-content > h4, .tap-target-content > p {
  color:white;
  font-family: "Raleway", Arial, sans-serif;
  margin-left: 50px;
  margin-bottom: 30px;
  transform: translateY(-50px);
  @media (max-width: $desktop-breakpoint) {
    transform: translateY(-60px);
    font-size: 90%;
  }
}

.tap-target-content > h4 {
  @media (max-width: $desktop-breakpoint) {
    font-size: 160%;
  }
}

.tap-target {
  background-color:rgb(221, 105, 103) !important;
}
// font-family: "Roboto", Arial, sans-serif;
// font-family: "Lato", Arial, sans-serif;
// font-family: "Montserrat", Arial, sans-serif;
// font-family: "Open Sans", Arial, sans-serif;
// font-family: "Raleway", Arial, sans-serif;

