.logo {
  font-family: 'Kaushan Script';
  font-size:38px !important;
  margin-left: $s-size/2;
  @media (max-width: $desktop-breakpoint) {
    font-size:25px !important;
    margin-left: $s-size/3;
  }
}

.login {
  margin-left: $s-size/3;
}

.credits {
  margin: 0 10px 0 20px;
  @media (max-width: $desktop-breakpoint) {
    margin: 0 0 0 10px;
  }
}

.paybuttonli {
  margin: -2px 0 0px 0;
  text-transform: capitalize !important;
  @media (max-width: $desktop-breakpoint) {
    height:30px !important;
    width:70px !important;
    padding: 0 !important;
    margin-right: -3px;
    margin-left: -1px;
    font-size: $s-size/1.5 !important;
  }
}

.paybutton {
  @extend .paybuttonli;
  background-color:#BB4F4D !important;
}

.header-main {
  max-width: 100vw;
  @media (max-width: $desktop-breakpoint) {
    font-size: 60%;
  }
}
