.image1 {
  background-image: url("/images/data.jpg");
  background-size: cover;
  background-position: right top;
}

.image2 {
  background-image: url("/images/clients.jpg");
  background-size: cover;
  background-position: center top;
}

.span {
  font-family: 'Kaushan Script';
}